*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.nav{
  position:absolute;
  z-index: 1;
  width:100vw;
  display:flex;
  justify-content: space-between;
  padding:10px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Bebas Neue', cursive;
  position:fixed;
}

.logo{
    flex:20%;
    text-align: center;
    color:white;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 15px;
}
.logo h2{
    transition: all .3s linear;
}
.logo h2:hover{
    font-size: 25px;
}
.menu{
    flex:60%;
    text-align: center;
}
.menu a{
    padding:15px;
    letter-spacing: 2px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    transition: all .3s linear;
}
.x{
  font-size: 20px;
  padding-right: 2px;
  transition: all .3s ease-in;
  color:white;
}
.menu a:hover x{
  transform: rotate(90deg);
}

.menu a:hover{
    color:orange;
    text-decoration: underline;
    text-decoration-color: orange;
}

.cv{
    flex:15%;
    text-align: center;
}

.cv a{
    padding:5px;
    font-size: 14px;
    background:transparent;
    border:2px solid red;
    color:white;
    font-weight: bolder;
    transition: all .3s linear;
    letter-spacing: 2px;
    text-decoration: none;

}
.cv button:hover{
    padding:8;
    font-size: 16px;
}

@media screen and (max-width:1450px) {
    .logo h2{
        font-size: 20px;
    }   
}


@media screen and (max-width:1130px){
    .menu a{
        font-size: 15px;
    }
}


@media screen and (max-width:1000px){
    .menu a{
        font-size: 12px;
        padding:10px;
    }
    .logo h2{
        font-size: 15px;
    }   
    .cv button{
        padding:5px;
        font-size: 12px;
    }
}

@media screen and (max-width:925px){
    .menu a{
        font-size: 12px;
    }
    .logo h2{
        font-size: 15px;
    }   
    .cv button{
        padding:5px;
        font-size: 12px;
    }
    .x{
        font-size: 15px;
      }
}


@media screen and (max-width:800px){
    .menu a{
        font-size: 10px;
    }
    .logo h2{
        font-size: 13px;
    }   
    .cv button{
        padding:5px;
        font-size: 10px;
    }
    .x{
        font-size: 15px;
      }
}


@media screen and (max-width:800px){
    .nav{
        justify-content: center;
    }

    .logo{
        order: 1;
        flex:50%;
    }

    .cv{
        flex:50%;
        order:2;
    }

    .menu{
        order: 3;
    }
    .menu a{
        font-size: 10px;
    }
    .logo h2{
        font-size: 13px;
    }   
    .cv button{
        padding:5px;
        font-size: 10px;
    }
    .x{
        font-size: 15px;
      }
}


@media screen and (max-width:475px){
    .nav{
        justify-content: center;
    }

    .logo{
        order: 1;
        flex:50%;
    }

    .cv{
        flex:50%;
        order:2;
    }

    .menu{
        order: 3;
    }
    .menu a{
        font-size: 8px;
        padding:5px;
        letter-spacing: 1px;
    }
    .logo h2{
        font-size: 13px;
    }   
    .cv button{
        padding:5px;
        font-size: 10px;
    }
    .x{
        font-size: 12px;
      }
}


@media screen and (max-width:330px){
    .logo{
        order: 1;
        flex:50%;
    }

    .cv{
        flex:50%;
        order:2;
    }

    .menu{
        order: 3;
    }
    .menu a{
        font-size: 6px;
        padding:2px;
        letter-spacing: 1px;
    }
    .logo h2{
        font-size: 10px;
    }   
    .cv button{
        padding:5px;
        font-size: 10px;
    }
    .x{
        font-size: 12px;
      }
}



















