*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.nav{
  position:absolute;
  z-index: 1;
  width:100vw;
  display:flex;
  justify-content: center;
  padding:10px;
  background: rgba(0,0,0, 0.5);
  font-family: 'Bebas Neue', cursive;;
}

.logo{
    flex:20%;
    text-align: center;
    color:white;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Satisfy', cursive;
    font-size: 15px;
}
.logo h2{
    transition: all .3s linear;
}
.logo h2:hover{
    font-size: 25px;
}
.menu{
    flex:60%;
    text-align: center;
}
.menu a{
    padding:15px;
    letter-spacing: 2px;
    text-decoration: none;
    color:white;
    font-size: 20px;
    transition: all .3s linear;
}
.x{
  font-size: 20px;
  padding-right: 2px;
  transition: all .3s ease-in;
  color:white;
}
.menu a:hover x{
  transform: rotate(90deg);
}

.menu a:hover{
    color:orange;
    text-decoration: underline;
    text-decoration-color: orange;
}

.cv{
    flex:15%;
    text-align: center;
}

.cv button{
    padding:5px;
    font-size: 14px;
    background:transparent;
    border:2px solid red;
    color:white;
    font-weight: bolder;
    transition: all .3s linear;

}
.cv button:hover{
    padding:8;
    font-size: 16px;
}
















