

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.projects{
    width:100vw;
    background: #D3D8DA;
    background: -webkit-linear-gradient(top left, #D3D8DA, #E4E6EF);
    background: -moz-linear-gradient(top left, #D3D8DA, #E4E6EF);
    background: linear-gradient(to bottom right, #D3D8DA, #E4E6EF);
    padding-bottom: 3%;
}

.projects>h1{
    text-align: center;
    color:#FD0054;
    font-family: 'Bebas Neue', cursive;
    text-shadow:5px 5px 10px #F8B500;
    text-decoration: underline;
    text-decoration-color: black;
    font-size: 2em;
    letter-spacing: 2px;
}

.proj{
    margin-top:3em;
    display:flex;
    width:100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 1em;
}

.proj div{
    flex-basis: 45%;
    background:#EEEEEE;
    box-shadow: 5px 5px 10px black;
    padding:0 2em;
    background-color: #A3CB38;
    border-radius: 20px;
    font-weight: bold;

}

.book h1{
    text-align: center;
    color:black;
    font-size: 1.5em;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    text-shadow: 5px 5px 20px #222831;
}

.book h2{
    color:#BB371A;
    text-align: center;
    font-size: 1.3em;
    text-decoration: underline;
    text-decoration-color: orange;
    text-shadow: 7px 7px 10px white;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Righteous', cursive;
}

.list{
    list-style-type: disc;
    color:blak;
    font-size: 1em;
    font-weight: bold;
}

.ol{
    color:black;
    text-shadow: 4px 4px 10px white;
}

.calc{
    color:black;
    font-size: 1em;
}
.calc h1{
    font-size:1.5em;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    text-shadow: 5px 5px 20px #222831;
}

.calc h2{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Righteous', cursive;
    font-size: 1.3em;
    color:#BB371A;
}

.coun h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    color:black;
    text-shadow: 5px 5px 10px black;
    font-size: 1.5em;
}

.coun h2{
    text-align: center;
    font-size: 1.3em;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
    color:#BB371A;
}

.coun ul{
    font-size: 1em;
}

.result h1{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    color:black;
    font-size: 1.5em;
    text-shadow: 5px 5px 20px #222831;
}

.result h2{
    text-align: center;
    font-size: 1.3em;
    color:#BB371A;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Righteous', cursive;
    text-decoration: underline;
}
.result{
    font-size: 1em;
    color:black;
}

#lang{
    font-size:1em;
    color:black;
}

@media screen and (max-width:900px){
    .proj div{
        flex:90%;
    }
    
    .proj{
        padding:0 5%;
    }
}

